

.main {
display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
}
.nav {

  font-family: "kanit", sans-serif;
  font-size: large;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  width: 100%;
  height: fit-content;
  color: white;
  background: transparent;
  backdrop-filter: blur(5px);
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  position: fixed;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
  text-decoration: none;
  color: white;
  padding: 0 3.5rem;
  opacity: .5;
  transition: ease 0.3s;
}

.nav li:hover {
  opacity: 1;
  letter-spacing: 2px;
  transition: ease-in 0.3s;
}

.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Center vertically */
}

.overlayMenu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 150px;
}

.overlayMenu li {
  margin-bottom: 40px; /* Adjust as needed */
}

.overlayMenu li:last-child {
  margin-bottom: 0; /* Remove margin for the last item */
}

.overlayMenu li a {
  color: white; /* Change color as needed */
  text-decoration: none;
  font-size: 1.2em; /* Adjust font size as needed */
}

.threeCanvas {
  position: relative;
}

.aboutSection, .projectsSection {
  color: white;
  margin: 0 auto 4rem;
  min-width: 350px;
}

.aboutGrid {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  

.aboutMe {
  display: flex;
    flex-direction: column;
  padding: 2rem;
  margin: 0 5%;
  width: 500px;
}

.imgHolder {
  height: 500px;
  width: 500px;
  border: 1px solid white;
}

.infoTabs {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin: 2rem;
}

.infoTabs button {
  font-family: "kanit", sans-serif;
  font-size: large;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
}

.tabData {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillBlocks {
  margin: 2rem;
}

.skillBlocks  ul{
  margin: 0 auto;
  display: grid;
    gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}


.skillBlocks ul li {
  list-style: none;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 15px;
}

.educationBlocks {
  width: 60vw;
  max-width: 800px;
  margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(1, 1fr);
}

.educationBlocks dl {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  margin: 2rem;
  padding: .5rem 0;
  border: 1px solid white;
  border-radius: 15px;
}

.educationBlocks dl * {
  margin: .5rem;
}

.proCard {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  border: 1px solid white;
}

.proInfo {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
  padding: 2rem;
  margin: 0 auto;
  width: 50%;
}


@media (max-width: 500px){
  .aboutMe {
    padding: 2rem;
    margin: 0 auto;
    width: 350px;
  }

  .imgHolder {
    width: 300px;
  }

  .infoTabs {
    width: 100%;
    margin: 0;
  }
  

  .skillBlocks ul{
    grid-template-columns: repeat(1, 1fr);
  }

    .educationBlocks {
      margin: 0 auto;
      display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .educationBlocks dl {
      display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .educationBlocks dl * {
      margin: .5rem;
    }

    .educationBlocks dd {
      text-align: center;
     }

  .proCard{
  }

  .proInfo {
    margin: 0;
    padding: 0;
    width: inherit;
  }
  
}