
.main {
display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
}
.nav {
  width: 100%;
  height: fit-content;
  color: white;
  background: transparent;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  position: relative;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
  text-decoration: none;
  color: white;
  padding: 0 3.5rem;
  opacity: .5;
  transition: ease 0.3s;
}

.nav li:hover {
  opacity: 1;
  transition: ease-in 0.3s;
}

.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Center vertically */
}

.overlayMenu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 150px;
}

.overlayMenu li {
  margin-bottom: 40px; /* Adjust as needed */
}

.overlayMenu li:last-child {
  margin-bottom: 0; /* Remove margin for the last item */
}

.overlayMenu li a {
  color: white; /* Change color as needed */
  text-decoration: none;
  font-size: 1.2em; /* Adjust font size as needed */
}

.aboutSection {
  color: white;
}

.aboutGrid {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  

.aboutMe {
  display: flex;
    flex-direction: column;
  padding: 2rem;
  width: 500px;
}

.infoTabs {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proCard {
  height: 500px;
  width: 500px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  border: 1px solid white;
}

.proInfo {
  height: 2rem;
  background-color: rgb(27, 27, 27);
  justify-self: flex-end ;
}

